<div>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Confirmação</h4>
      <button type="button" class="close" aria-label="Close" (click)="fechaModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Cadastro realizado com sucesoo!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="fechaModal('cadastrados')">Ver cadastrados</button>
      <button type="button" class="btn btn-info" (click)="fechaModal('close')">Ok</button>
    </div>
  </div>
</div>