.inscritos-detalhes {
    max-height: 75vh;
    max-width: 90vh;
}
h3 {
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px inset #ddd;
    color: #82140d;
    margin-bottom: 15px;
}
.dados, .endereco {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    box-shadow: 1px 0px 9px #ddd;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
}
.dados-item, .endereco-item {
    flex: 0 0 50%;
    margin-bottom: 10px;
}
.dados span, .endereco span {
    font-weight: 600;
    color: #82140d;
}

@media (max-width: 767px) {
    .dados-item, .endereco-item {
        flex: 0 0 100%;
    }
}