<div [@fadeInOut]>
  <div class="container container-page-title">
    <div class="page-title">
      <h2>Formulário de inscrição</h2>
    </div>
  </div>
  
  <div class="container bg-light container-form">
    <form [formGroup]="dadosForm" (ngSubmit)="onSubmit()">
      <div class="box-body" [@fadeInOut]>
        <div class="container-fluid">
          <div class="box-desktop first">
            <label for="nome" [ngClass]="{'text-danger':checkForm && dadosForm.controls['nome'].invalid}">Nome Completo <span class="text-danger">*</span>
              <i class="material-icons" class="material-icons" *ngIf="checkForm" @fadeInOut
              [ngClass]="{'error':dadosForm.controls['nome'].invalid}">{{ (dadosForm.controls['nome'].invalid)
              && 'close' || 'check'}}</i>
            </label>
            <input type="text" formControlName="nome" name="nome" id="nome" required>
            
            <div class="separador">
              <div class="box-input">
                <label for="email"
                [ngClass]="{'text-danger':checkForm && dadosForm.controls['email'].invalid}">
                E-mail <span class="text-danger">*</span>
                <i class="material-icons" *ngIf="checkForm" @fadeInOut
                [ngClass]="{'error':dadosForm.controls['email'].invalid}">{{ (dadosForm.controls['nome'].invalid)
                && 'close' || 'check'}}</i>
              </label>
              <input type="email" formControlName="email" name="email" id="email" email required>
            </div>
            <div class="box-input">
              <label for="cpf" [ngClass]="{'text-danger':checkForm && dadosForm.controls['cpf'].invalid}">
                CPF <span class="text-danger">*</span>
                <i class="material-icons" *ngIf="checkForm" @fadeInOut
                [ngClass]="{'error':dadosForm.controls['cpf'].invalid}">{{
                  (dadosForm.controls['cpf'].invalid)
                  && 'close' || 'check'}}</i>
                </label>
                <input type="text" #cpf formControlName="cpf" name="cpf" id="cpf" cpf 
                mask="{{maskCpf}}" (keyspress)="contaCpf(cpf.value.length, 'cpf')" required>
                <span class="text-danger" *ngIf="checkForm && dadosForm.controls['cpf'].invalid">CPF inválido</span>
              </div>
            </div>
            <div class="separador">
              <div class="box-input">
                <label for="telefone" [ngClass]="{'text-danger':checkForm && dadosForm.controls['telefone'].invalid}">
                  DDD + Telefone <span class="text-danger">*</span>
                  <i class="material-icons"*ngIf="checkForm" @fadeInOut
                  [ngClass]="{'error':dadosForm.controls['telefone'].invalid}">{{ (dadosForm.controls['telefone'].invalid) && 'close' || 'check' }}</i>
                </label>
                <input type="text" #telefone formControlName="telefone" name="telefone" id="telefone" 
                mask="{{maskTelefone}}" (keypress)="contaCaracter(telefone.value.length, 'telefone')" required>
              </div>
              <div class="box-input">
                <label for="telefone2" [ngClass]="{'text-danger':checkForm && dadosForm.controls['telefone2'].invalid}">
                  DDD + Telefone 2
                  <i class="material-icons" ></i>
                </label>
                <input type="text" #telefone2 formControlName="telefone2" name="telefone2" id="telefone2"
                mask="{{maskTelefone2}}" (keypress)="contaCaracter(telefone2.value.length, 'telefone2')">
              </div>
            </div>
          </div>
          <div class="box-desktop">
            <div class="separador">
              <div class="box-input">
                <label for="cep" [ngClass]="{'text-danger':checkForm && dadosForm.controls['cep'].invalid}">
                  CEP <span class="text-danger">*</span>
                  <i class="material-icons" *ngIf="checkForm" [ngClass]="{'error':dadosForm.controls['cep'].invalid}" @fadeInOut>
                    {{ (dadosForm.controls['cep'].invalid) && 'close' || 'check' }}</i>
                  </label>
                  <input type="text" formControlName="cep" name="cep" id="cep" mask="00000-000" (blur)="consultaCep()" required>
                </div>
                <div class="box-input">
                  <label for="bairro" [ngClass]="{'text-danger':checkForm && dadosForm.controls['bairro'].invalid}">
                    Bairro <span class="text-danger">*</span>
                    <i class="material-icons" *ngIf="checkForm" [ngClass]="{'error':dadosForm.controls['bairro'].invalid} " @fadeInOut>
                      {{ (dadosForm.controls['bairro'].invalid) && 'close' || 'check' }}</i>
                    </label>
                    <input type="text" formControlName="bairro" name="bairro" id="bairro" required>
                  </div>
                  <div class="box-input">
                    <label for="rua" [ngClass]="{'text-danger':checkForm && dadosForm.controls['rua'].invalid}">
                      Rua <span class="text-danger">*</span>
                      <i class="material-icons" *ngIf="checkForm" [ngClass]="{'error':dadosForm.controls['rua'].invalid} " @fadeInOut>
                        {{ (dadosForm.controls['rua'].invalid) && 'close' || 'check' }}</i>
                      </label>
                      <input type="text" formControlName="rua" name="rua" id="rua" required>
                    </div>
                    <div class="box-input">
                      <label for="num" [ngClass]="{'text-danger':checkForm && dadosForm.controls['numero'].invalid}">
                        Número <span class="text-danger">*</span>
                        <i class="material-icons" *ngIf="checkForm" [ngClass]="{'error':dadosForm.controls['numero'].invalid}" @fadeInOut>
                          {{ (dadosForm.controls['numero'].invalid) && 'close' || 'check' }}</i>
                        </label>
                        <input type="number" formControlName="numero" name="numero" id="numero" required>
                      </div>
                    </div>
                  </div>
                  <div class="box-input">
                    <label for="complemento">Complemento</label>
                    <input type="text" formControlName="complemento" name="complemento" id="complemento">
                  </div>
                  <div class="box-desktop">
                    <div class="separador">
                      <div class="box-input">
                        <label for="estado" [ngClass]="{'text-danger':checkForm && dadosForm.controls['estado'].invalid}">
                          Estado <span class="text-danger">*</span>
                          <i class="material-icons" *ngIf="checkForm" [ngClass]="{'error':dadosForm.controls['estado'].invalid}" @fadeInOut>
                            {{ (dadosForm.controls['estado'].invalid) && 'close' || 'check' }}</i>
                          </label>
                          <select formControlName="estado" name="estado" id="estado">
                            <option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.nome }}</option>
                          </select>
                        </div>
                        <div class="box-input">
                          <label for="cidade" [ngClass]="{'text-danger':checkForm && dadosForm.controls['cidade'].invalid}">
                            Cidade <span class="text-danger">*</span>
                            <i class="material-icons" *ngIf="checkForm && dadosForm.controls['cidade'].invalid" [ngClass]="{'error':dadosForm.controls['cidade'].invalid}" @fadeInOut>
                              {{ (dadosForm.controls['cidade'].invalid) && 'close' || 'check' }}</i>
                            </label>
                            <input type="text" formControlName="cidade" name="cidade" id="cidade" required>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="text-dark font-italic text-center">Os campos com <span class="text-danger">*</span> são obrigatórios</p>
                  <div class="footer-bottom">
                    <p>
                      <label>
                        <input type="checkbox" formControlName="termos_de_uso" name="termos_de_uso" required>
                        <span class="checkmark"></span>
                      </label>
                      Declaro que estou ciente dos <a href="">Termos de Uso</a><br>
                      <span class="text-danger"
                      *ngIf="checkForm && dadosForm.controls['termos_de_uso'].invalid">É preciso aceitar os Termos de Uso</span>
                    </p>
                    
                    <button class="btn btn-next">Cadastrar</button>
                  </div>
                </form>
              </div>
            </div>
            