
<!-- <div class="home-body"> -->
    <!-- <div class="content">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ imagem }}" alt="First slide">
                <div class="carousel-caption d-md-block stripped">
                    <h2>Lorem ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eleifend purus sed justo dictum interdum. 
                        Aliquam maximus blandit lacinia. Cras et viverra nisi, vel porta.</p>
                        <button routerLink="/register"type="button" class="btn btn-lg btn-danger" id="inscrever">Inscrever-se agora!</button>
                    </div>
                </div>
            </div>
        </div>
        <ngb-carousel>
            <ng-template ngbSlide>
                <img [src]="imagem" alt="Random first slide">
                <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div> -->
    <main role="main" class="inner cover text-center">
        <h1 class="cover-heading home-title">Lorem ipsum</h1>
        <p class="lead home-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eleifend purus sed justo dictum interdum. 
                Aliquam maximus blandit lacinia. Cras et viverra nisi, vel porta.</p>
        <p class="lead">
            <a href="/register" class="btn btn-lg btn-secondary">Cadastrar</a>
        </p>
    </main>
    